# --------
# Software
# --------
# Python artefacts
software/**/__pycache__/

# Non-template setup files (they will contain WiFi credentials!)
software/src/setup/*
!software/src/setup/*_template.py

# ---
# PCB
# ---
# Backups and caches
pcb/ESP_RGB_LED-backups/
pcb/fp-info-cache

# -------
# Housing
# -------
# Slicer output
housing/*.STL